.card-content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1;
}

.card {
    flex-basis: 1;
   background: #fff;
   margin: 15px 15px;
   height: 300px;
}

/* mins */
.mins {
    position: relative;
    top: -140px;
    left: 20px;
    width: 98px;
    height: 32px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 99px;
    color: #fff;
}

.mins span svg {
    margin-left: 7px;
    margin-top: 10px;
}

.mins span p {
    /* margin-left: 10px; */
    padding-left: 30px;
    margin-top: -15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

/* cabage */
.cabage p {
   margin-top: -20px;
   margin-left: 20px;
   font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #64688D;


}


/* star */
.star {
    display: flex;
    flex: 1;
    margin-left: 20px;
    margin-top: 15px;
}

/* order */
.Order {
    padding-left: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #8588A3;
}

/* down-border */
.down-border {
    border-top: 1px solid #F2F6FE;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}