.cart-container {
    position: absolute;
    display: none;
    top: 30px;
    right: 0;
   width: 448px;
   height: 1970px;
   margin: auto;
   background: #FFFFFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   margin-top: 30px;
}

.cart-content {
    display: flex;
    margin: 0px 20px;
    justify-content: space-between;
    padding-top: 40px;
}

.cart-content h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #64688D;
}

.cart-content svg {
    margin-right: 40px;
    margin-top: 5px;
}

/* carts-main */
.cart-main-list {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    padding-top: 40px;
    border: 1px solid #ccc;
   
}
.cart {
    display: flex;
    justify-content: space-between;
    border: 1px solid #F5F7FD;
    width: 100%;
    height: 58px;
    margin-top: 40px;
    padding: 20px 20px;
}


/* caet-main */
.cart-main1 {
    border: none;
}

/* caet-main */
.cart-main2 span {
    padding-left: 50px;
}

/* caet-main */
.cart-main3 span {
    padding-left: 60px;
}

/* caet-main */
.cart-main4 span {
    padding-left: 20px;
}

.cart h1, h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #4A4C65;
}

.cart h2 {
    margin-right: 30px;
}


/* time/ delivery */
.time-Delivery h1 {
    padding-top: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    color: #64688D;
    margin: 0 20px;
}

/* cart-time */
.cart-time {
    margin: 5px 10px;
}

.cart-time select {
    width: 380px;
    height: 54px;
    padding-left: 70px;
    background: #FBFCFF;
    border-radius: 999px;
    border: none;
    outline: none;
}

.cart-number2 input {
    width: 380px;
  height: 54px;
  padding-left: 70px;
  background: #FBFCFF;
  border-radius: 999px;
  border: none;
  outline: none;
}


.cart-time input {
  width: 380px;
  height: 54px;
  padding-left: 70px;
  background: #FBFCFF;
  border-radius: 999px;
  border: none;
  outline: none;
}


.cart-time svg {
   position: relative;
   top: 3px;
   left: 40px;
 
}



/* payment */
.payment {
    margin:  0 30px;
}
.payment h1 {
    padding-top: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #64688D;
}
.cart-payment input {
  width: 380px;
  height: 54px;
  padding-left: 70px;
  background: #FBFCFF;
  border-radius: 999px;
  border: none;
  outline: none;
  margin-left: -10px;
  margin-top: 30px;
  appearance: none;
  padding-left: 150px;
}

.cart-payment svg {
    position: relative;
    top: 3px;
    left: 40px;
}

/* form */
.card-number {
   margin-top: 90px;
}
.card-number label,
.card-number input {
 display: block;
 margin: 20px 30px;
}

.card-number label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #64688D;
    padding-left: 30px;
}

.card-number input {
    width: 380px;
    height: 54px;
    background: #FBFCFF;
    border-radius: 999px;
    border: none;
    outline: none;
    padding-left: 30px;
}

.card-number  svg {
    position: relative;
    top: -55px;
    left: 340px;
}


/* name */
.card-name label,
.card-name input {
    display: block;
    margin: 30px 30px;
}

.card-name label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #64688D;
    padding-left: 30px;
}

.card-name input {
    width: 380px;
    height: 54px;
    background: #FBFCFF;
    border-radius: 999px;
    border: none;
    outline: none;
    padding-left: 30px;
}

.card-name svg {
    position: relative;
    top: -70px;
    left: 340px;
}

/* card-birthdate */
.card-birthdate {
    display: flex;
    margin: 0 30px;
}

.card-birthdate .vilidity label,
.card-birthdate .vilidity input {
    display: block;
    margin-top: 10px;
}

.card-birthdate .vilidity label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #64688D;
    padding-left: 30px;

}

.card-birthdate .vilidity input {
    width: 171px;
    height: 54px;
    background: #FBFCFF;
    border-radius: 999px;
    outline: none;
    border: none;
    padding: 0 30px;
   
}

.card-birthdate .vilidity ::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #64688D;
}

.card-birthdate .birth label,
.card-birthdate .birth input {
    display: block;
    margin-left: 90px;
}

.birth label,
.birth input {
    display: block;
    margin-top: 10px;
}

.birth label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #64688D;
    padding-left: 30px;
}
.birth input {
    width: 91px;
    height: 54px;
    background: #FBFCFF;
    border-radius: 999px;
    outline: none;
    border: none;
    padding: 0 30px;
}

/* cart-btn */
.cart-btn button {
    width: 380px;
    height: 54px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin:  30px 30px;
    background: #FF473E;
    border-radius: 999px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}


/* cart-img */
.cart-img svg {
    width: 370px;
    height: 400px;
    margin: 0 30px;
}