.categories-flex {
    display: flex;
    margin: 90px 70px;
}

.categories-header h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 17px;
    color: #000000;
    padding-top: 15px;
}


.categories-cards {
   padding: 0 20px;
    list-style: none;
    text-align: center;
    padding-top: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 17px;
}

.categories-cards a {
    color: #000000;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    font-size: 25px;
}

.categories-cards a:hover,
.categories-cards:hover {
    background: #FFFFFF;
    color: #FF473E;
}

.vege {
    width: 158px;
    height: 38px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(255, 71, 62, 0.1);
    border-radius: 5px;
    text-align: center;
    margin-top: -7px;
  
}

.vege svg {
    margin-top: 7px;
}

.vege a {
    color: #FF473E;
    padding-left: 5px;
}


@media screen and (max-width: 1100px)  {
    .categories-flex {
        display: none;
        margin-top: 90px;
    }

    
}