.categories-flex {
    display: flex;
    margin: 90px 30px;
}

.categories-header h1 {
    width: 93px;
    height: 17px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-top: 15px;
}

.categories-card li {
   list-style: none;
  padding-top: 10px;
  margin: 0 27px;
}

.categories-card li a {
    width: 45px;
    height: 17px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
 
.hover:hover {
    background: white;
    height: 38px;
    border-radius: 5px;
}

.center {
    margin-left: 20px;
}
 
.vege {
    width: 128px;
    height: 38px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(255, 71, 62, 0.1);
    border-radius: 5px;
    margin-left: 20px;
}

.vege p {
  position: relative;
  top: -18px;
  left: 20px;
}

.vege svg {
    position: relative;
    top: 1px;
    right: 8px;
} 

.vege a {
    color: #FF473E;
    /* padding-left: 5px; */
}

@media screen and (max-width: 768px) {
    .categories-flex {
        margin-top: 400px; 
        overflow-x: scroll;
        width: 590px;
        white-space: nowrap;
        margin-left: 60px;
    }

    .categories-cards li {
      width: 100px;
    }


    @media screen and (max-width: 500px) {
        .categories-flex {
            margin: 300px 37px;
            overflow-x: scroll;
            width: 290px;
            white-space: nowrap;
        }

        .vege {
            width: 127px;
            height: 38px;
            margin-left: 30px;
            margin-top: 4px;
        }

                
        .vege p{
            position: relative;
            top: -20px;
            left: 17px;
            /* padding-left: 7px; */
        }
         

        .vege svg {
            position: relative;
           top: 2px;
            left: -10px;

          
        }

         
        
    }



    
}
