.search {
   margin: 120px 70px;
   width: 629px;
   height: 64px;
   background: #FFFFFF;
   box-shadow: 0px 0px 10px rgba(255, 71, 62, 0.05);
   box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0);
   border-radius: 999px;

}


.select {
    display: flex;
    padding-top: 35px;
}


.search-vege select {
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
    padding-right: 15px;
    color: #8588A3;
}

.search-vege svg {
    margin-left: 20px;
    width: 18px;
    height: 18px;
    position: relative;
    top: -10px;
}


.name {
    padding-left: 50px;
    margin-top: -37px;
   
}

/* saerch-location */
.search-location select {
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-left: 80px;
    color: #8588A3;
    padding-right: 15px;
    margin-top: 10px;

}

.search-location svg {
    position: relative;
    top: -8px;
    width: 18px;
    margin-left: 40px;
    height: 18px;

}

.locate {
    margin-top: -40px;
   
}
 
/* btn */
.btn-search button {
    position: relative;
    top: -36px;
    border: none;
    width: 137px;
    height: 64px;
    align-items: center;
    background: #FF473E;
    border-radius: 999px;
    margin-left: 90px;
    font-size: 16px;
    color: #fff;
    transition: all 0.5s ease;
    transition-property: background;
}


.btn-search button:hover {
    background: #a7a1a1;
}


@media screen and (max-width: 1100px) {
    .search {
       background: none;
    }

    .select {
       display: block;
       margin: 0 20px;
    }

    .search-vege {
        width: 670px;
        background: #FFFFFF;
        height: 120px;
        border-radius: 99px;
        padding-top: 40px;
        margin-left: -50px;
    }

    .search-vege select {
       font-size: 27px;
       padding-left: 30px;
    }

    .search-location  {
        width: 670px;
        background: #FFFFFF;
        height: 120px;
        border-radius: 99px;
        padding-top: 70px;
        margin-top: 30px;
        margin-left: -50px;
    }


    .search-location  select {
        font-size: 27px;
        padding-left: 30px;
    }

    .search-location svg {
        margin-left: 60px;
        margin-top: -70px;
    }

    .btn-search button {
        width: 670px;
        height: 120px;
        border-radius: 99px;
       margin-top: 30px;
       margin-left: -50px;
       font-size: 30px;
    }


    @media screen and (max-width: 500px) {
        .search-vege {
            width: 300px;
            margin-left: -120px;
        }
    }
  
    

    

   



}