.search {
   margin: 50px 30px;
   width: 629px;
   height: 64px;
   background: #FFFFFF;
   box-shadow: 0px 0px 10px rgba(255, 71, 62, 0.05);
   box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0);
   border-radius: 999px;

}


.select {
    display: flex;
    padding-top: 35px;
}


.search-vege select {
    border: none;
    outline: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
    padding-right: 15px;
    color: #8588A3;
}

.search-vege svg {
    margin-left: 20px;
    width: 18px;
    height: 18px;
    position: relative;
    top: -10px;
}


.name {
    padding-left: 50px;
    margin-top: -37px;
   
}

/* saerch-location */
.search-location select {
    border: none;
    outline: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-left: 80px;
    color: #8588A3;
    padding-right: 15px;
    margin-top: 10px;

}

.search-location svg {
    position: relative;
    top: -8px;
    width: 18px;
    margin-left: 40px;
    height: 18px;

}

.locate {
    margin-top: -40px;
   
}
 
/* btn */
.btn-search button {
    position: relative;
    top: -36px;
    border: none;
    width: 137px;
    height: 64px;
    align-items: center;
    background: #FF473E;
    border-radius: 999px;
    margin-left: 30px;
    font-size: 16px;
    color: #fff;
    transition: all 0.5s ease;
    transition-property: background;
}


.btn-search button:hover {
    background: #a7a1a1;
}

@media screen and (max-width: 768px) {
    .search {
       background: none;
    }

    .select {
        display: block;
    }

    .search-vege{
        width: 650px;
        height: 70px;
        background: #FFFFFF;
        border-radius: 99px;
    }

    .search-vege select {
        margin-top: 40px;
        padding-right: 120px;
        margin-left: 70px;
        font-size: 15px;
    }

    .search-vege svg {
      position: relative;
      top: 30px;
      left: 30px;
    }

    .search-location {
        width: 650px;
        height: 70px;
        background: #FFFFFF;
        border-radius: 99px;
        margin: 20px 0;
    
    }

    .search-location select {
        margin-top: 40px;
        padding-right: 120px;
        margin-left: 130px;
        font-size: 15px;
    }

    .search-location svg {
        position: relative;
        top: 30px;
        left: 20px;
    }

    .btn-search button {
        width: 650px;
        height: 70px;
        border-radius: 99px;
        margin: 40px 0;
    }
    

    @media screen  and (max-width: 500px) {
        .search-vege{
            width: 300px;
        }

        .search-vege select {
            padding-right: 20px;
            margin-left: 20px;
            font-size: 15px;
        }

        .search-vege svg {
            position: relative;
            top: 30px;
            left: 10px;
        }
        .search-location{
            width: 300px;
        }

        .search-location select {
            padding-right: 30px;
            margin-left: 70px;
            font-size: 15px;
            padding-top: 7px;
        }

        .search-location svg {
            position: relative;
            top: 35px;
            left: -10px;
        }

        .btn-search button {
            width: 300px;
            margin: 40px 0;
        }
        



    }
    
    
    
     
     
}