
.showcase-content {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 77px;
    padding-top: 200px;
    font-size: 50px;
    color: #000000;
    margin: 0 70px;
}

.showcase-content span {
    color: #FF473E;
}


@media screen and (max-width: 1100px) {
    .showcase-content {
       width: 670px;
       font-size: 30px;
       margin: 0 20px;
    }
    
}