
.showcase-content {
    width: 944px;
    height: 77px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
     margin-top: 150px;
    /* padding-top: 200px; */
    margin-left: 30px;
}

.showcase-content span {
    color: #FF473E;
}


@media screen and (max-width: 768px) {
    .showcase-content {
        width: 700px;
    }

    @media screen and (max-width: 500px) {
        .showcase-content {
            width: 290px;
            padding-top: -50px;
            font-size: 30px;
           
        }
    }
}